*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.body-dark-mode{
    width: 100%;
    height: 100vh;
    background-color: #505563;
    position: relative;
    transition: .5s;
}

.body-light-mode{
    width: 100%;
    height: 100vh;
    background-color: #f4a8e4;
    position: relative;
    transition: .5s;
}

.toggleCountainer{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    width: 60px;
    height: 27px;
}

.header{
    width: 100%;
    height: 13.75rem;
    background: linear-gradient(to right,rgba(229, 35, 236, 0.5) , rgba(93,88,238,.5)) ,url(../img/Content\ pages\ GBC\ Brasil\ WGBW.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.checkbox:checked+.label .ball {
    transform: translate(24px);
}

.checkbox{
    opacity: 0;
    position: absolute;
}

label{
    width: 50px;
    height: 26px;
    background: rgba(99, 38, 92, 0.6);;
    border-radius: 50px;
    padding: 5px;
    position: relative;
}

.ball{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    transition: transform .2s linear;
}